---
import Layout from "../layouts/Layout.astro";

// from @TheoBr
// https://github.com/TheoBr/t3-astro/blob/e263bdb83606402afc8a48de3d5da307b4283b12/src/pages/blog/index.astro#L12-L17
const allPosts = await Astro.glob("./weblog/*.md");

const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.Date).valueOf() -
    new Date(a.frontmatter.Date).valueOf(),
);
---

<Layout title="blog. - mmatt.net">
  <main class="max-w-6xl lg:ml-auto lg:mr-auto mr-5 ml-5">
    <p class="text-3xl font-bold animate-fadeInDown">/blog</p>
    <p class="animate-fadeInDown">words and stuff</p>
    <br />

    <div class="flex flex-col">
      {
        sortedPosts.map((p) => {
          // if (p.frontmatter.draft) return;
          if (p.frontmatter.unlisted) return null;
          if (p.frontmatter.papertrail) return null;
          else {
            return (
              <>
                <div class="animate-fadeInDown">
                  <a href={"/weblog/" + p.url?.split("/")[2]}>
                    <div class="flex gap-5 flex-col md:flex-row md:justify-between">
                      <div class="flex flex-col">
                        <h2
                          class="text-2xl font-bold"
                          transition:name={p.frontmatter.title}
                        >
                          {p.frontmatter.title}
                        </h2>
                        <p class="text-lg">{p.frontmatter.category}</p>
                        <p class="text-sm">
                          {new Date(p.frontmatter.Date).toLocaleDateString()}
                        </p>
                        <p
                          class="text-xs overflow-none overflow-ellipsis"
                          transition:name={p.frontmatter.description}
                        >
                          "{p.frontmatter.description}"
                        </p>
                      </div>
                      {p.frontmatter.imgUrl ? (
                        <img
                          src={p.frontmatter.imgUrl}
                          alt={p.frontmatter.title}
                          class="max-h-20 max-w-full w-auto h-auto rounded object-cover"
                          height="50"
                          transition:name={p.frontmatter.imgUrl}
                        />
                      ) : null}
                      <hr class="block md:hidden" />
                    </div>
                  </a>
                </div>
                <br />
              </>
            );
          }
        })
      }
    </div>
    <div class="max-w-6xl ml-auto mr-auto mb-5 animate-fadeInDown">
      <h4 class="font-semibold text-xl">
        Add my blog into your reader of choice!
      </h4>

      <div class="mt-2 flex flex-row gap-3">
        <a href="https://matt.weblog.lol/rss.xml">
          <div
            class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
          >
            RSS
          </div>
        </a>

        <a href="https://matt.weblog.lol/atom.xml">
          <div
            class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
          >
            Atom
          </div>
        </a>
        <a href="https://matt.weblog.lol/feed.json">
          <div
            class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
          >
            JSON
          </div>
        </a>
      </div>
    </div>
  </main>
</Layout>
