---
export interface Props {
  title: string;
  description: string;
  tags: string;
  link: string;
  imgUrl: string;
}

const { title, description, tags, link, imgUrl } = Astro.props as Props;
---

<a href={link}>
  <div
    class="flex flex-col backdrop-blur-lg dark:bg-black/70 bg-white/70 p-5 rounded-lg max-w-sm min-w-sm max-h-lg min-h-lg transition-all border dark:border-neutral-800 dark:hover:border-white/30 hover:border-black/30 hover:shadow-lg dark:hover:shadow-white/30 hover:shadow-black/30"
  >
    <img src={imgUrl} alt={title} class="w-full h-auto pb-4" />

    <h1 class="text-2xl font-bold">{title}</h1>
    <p class="text-xs font-bold">{tags}</p>
    <hr class="border-neutral-600" />
    <p class="text-sm">{description}</p>
    <p class="text-xs text-neutral-600 overflow-ellipsis overflow-hidden">{link} &rarr;</p>
  </div>
</a>
