---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout
  title={frontmatter.title + " - mmatt.net"}
  description={frontmatter.description}
  imgUrl={frontmatter.imgUrl}
  blog
>
  <div
    class="lg:ml-auto lg:mr-auto ml-5 mr-5 mb-5 prose lg:prose-xl dark:prose-invert max-w-6xl prose-a:underline hover:prose-a:no-underline prose-a:transition-all prose-a:text-black hover:prose-a:bg-black hover:prose-a:text-white dark:prose-a:text-white dark:hover:prose-a:bg-white dark:hover:prose-a:text-black hover:prose-a:p-0.5 hover:prose-a:rounded"
  >
    <div>
      <div class="flex flex-col items-center text-center">
        <img
          src={frontmatter.imgUrl}
          class="rounded"
          alt={`Thumbnail for the ${frontmatter.title} blog post.`}
        />
        <div>
          <h1>{frontmatter.title}</h1>
          <p class="text-lg font-semibold">
            {frontmatter.description}
          </p>
        </div>
        <div class="text-gray-500 dark:text-gray-400 mb-0">
          <p class="text-sm">
            {new Date(frontmatter.Date).toLocaleDateString()} - {
              frontmatter.category
            }
          </p>
        </div>
      </div>
      <hr />
    </div>
    <slot />
    <hr />
  </div>

  <div class="max-w-6xl ml-auto mr-auto mb-5">
    <h4 class="font-semibold text-xl">
      Add my blog into your reader of choice!
    </h4>

    <div class="mt-2 flex flex-row gap-3">
      <a href="https://matt.weblog.lol/rss.xml">
        <div
          class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
        >
          RSS
        </div>
      </a>

      <a href="https://matt.weblog.lol/atom.xml">
        <div
          class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
        >
          Atom
        </div>
      </a>
      <a href="https://matt.weblog.lol/feed.json">
        <div
          class="bg-neutral-900 p-3 rounded-lg hover:bg-neutral-800 transition-all active:scale-95"
        >
          JSON
        </div>
      </a>
    </div>
  </div>
</Layout>

{
  !frontmatter.unlisted && (
    <div class="max-w-6xl mb-10 ml-auto mr-auto">
      <script
        src="https://giscus.app/client.js"
        data-repo="mmattbtw/mmatt.net-discussions"
        data-repo-id="R_kgDOH54_Mw"
        data-category="General"
        data-category-id="DIC_kwDOH54_M84CRH3m"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async
      />
    </div>
  )
}
