---
export interface Props {
  title: string;
  disableScribbles?: boolean
  disableHeaderOnScroll?: boolean
  imgUrl?: string
  description?: string
}

const { title, disableScribbles, disableHeaderOnScroll, imgUrl, description } = Astro.props as Props;
const ifImgLocal = imgUrl?.startsWith('/');
import Header from "../components/Header";
import Scribbles from "../components/Scribbles.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    <meta property="og:image" content={imgUrl ? 
      ifImgLocal ? `https://mmatt.net${imgUrl}` : imgUrl
    : "https://mmatt.net/images/mmattbtw.webp"} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={description ?? "my website :^)"} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mmattbtw" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description ?? "my website :^)"}/>
    <meta name="twitter:image" content={imgUrl} />

    <meta name="author" content="mmatt <matt@mmatt.net>"/>
    <meta property="description" content={description ?? "my website :^)"} />
    <meta name="description" content={description ?? "my website :^)"} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-white bg-white text-black">
    <Header
      client:load
      disableHeaderOnScroll={disableHeaderOnScroll ?? false}
      links={[
        {
          href: "/",
          title: "home",
        },
        {
          href: "/blog",
          title: "blog",
        },
        {
          href: "/stream",
          title: "stream",
        },
        {
          href: "/devices",
          title: "devices",
        },
        {
          href: "/draw", 
          title:"draw"
        }
      ]}
    />
    <slot />
    { !disableScribbles && (
      <Scribbles />
  )}
    <style>
      html {
        font-family: system-ui, sans-serif;
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>

    <!-- social.lol verification code -->
    <a rel="me" href="https://social.lol/@mm" class="hidden">social.lol verification</a>
  </body>
</html>
